<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.css">
<title>Add Education</title>
<link rel="shortcut icon" href="http://localhost:8082/favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/icofont/icofont.css">
</head>
<body>
	<div th:replace="header :: header"></div>
 	 <!--  <img src="http://localhost:8082//e.jpg" alt="Logo" width="100%"
		height="525px">  -->
	<i class="icofont-book icon2"></i>
	<h1 class="title">Add New Education Program</h1>
	<form method="POST">
		<div class="bang">
			<table>
				<tr class="tabletitle">
					<td>Information</td>
					<td>Add</td>
				</tr>
				<tr>
					<td>Program Id</td>
					<td><input  name="programId" type="text" pattern="[0-9]{5}" required/></td>
				</tr>
				<tr>
					<td>Program Name</td>
					<td><input class="color" name="programName" type="text" required pattern="[\s\p{L}0-9]+" maxlength="50"/></td>
				</tr>
				<tr>
					<td>Total Credit</td>
					<td><input name="totalCredit" type="text" pattern="[0-9]{3}" required /></td>
				</tr>
				<tr>
					<td>Falcuty Id</td>
					<!-- <td><input class="color" name="falcutyId" type="text" /></td> -->
					<td><select class="color" name="falcutyId" >
							<option th:each="l: ${list}" th:text="${l}"></option>
					</select></td> 
				</tr>
			</table>
			<input class="btn  btn-outline-primary add" type="submit" value="Add new Education Program " />
		</div>
	</form>
	<div th:replace="footer :: footer"></div>
</body>
</html>