<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.css">
<title>Add New Scoring</title>
<link rel="shortcut icon" href="http://localhost:8082/favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/icofont/icofont.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	<!--  <img src="http://localhost:8082//e.jpg" alt="Logo" width="100%"
		height="525px">  -->
	<i class="icofont-book icon2"></i>
	<h1 class="title">Add New Scoring</h1>
	<form method="POST" th:object="${subjectName}">
		<div class="bang">
			<table>
				<tr class="tabletitle">
					<td>Information</td>
					<td>Add</td>
				</tr>
				<tr>
					<td>Subject Name</td>
					<td><select name="subjectName" >
							<option th:each="l: ${subjectName}" style="text-align: center" th:text="${l}"></option>
					</select></td> 
				</tr>
				<tr>
					<td>Score 1</td>
					<td><input class="color" name="score1" type="text" pattern="[0-9.]{3}"
						required /></td>
				</tr>
				<tr>
					<td>Score 2</td>
					<td><input name="score2" type="text" pattern="[0-9.]{3}"
						required /></td>
				</tr>
				<tr>
					<td>Score 3</td>
					<td><input class="color" name="score3" type="text" pattern="[0-9.]{3}"
						required /></td>
				</tr>
				<tr>
					<td>Mid term Score</td>
					<td><input name="score4" type="text" pattern="[0-9.]{3}"
						required /></td>
				</tr>
			</table>
			<input class="btn btn-outline-primary add" type="submit"
				value="Add Scoring for student " />
		</div>
	</form>
	<div th:replace="footer :: footer"></div>
</body>
</html>