<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.css">
<title>Edit Scoring</title>
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	<i class="icofont-book icon2"></i>
	<h1 class="title">Edit Scoring</h1>
	<div class="bang">
		<table th:object="${student}">
			<tr>
				<td>Student Id</td>
				<td th:text="${student.studentId}"></td>
			</tr>
			<tr>
				<td>Student Name</td>
				<td th:text="${student.studentName}"></td>
			</tr>
			<tr>
				<td>Started Year</td>
				<td th:text="${student.startedYear}"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td th:text="${student.address}"></td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td th:text="${student.phoneNumber}"></td>
			</tr>
		</table>
	</div>

	<form method="POST" th:object="${score}">
		<div class="bang">
			<table>
				<tr class="tabletitle">
					<td>Information</td>
					<td>Update</td>
				</tr>
				<tr>
					<td>Subject Id</td>
					<td id="subjectId" th:text="${score.subjectId}"></td>
				</tr>
				<tr>
					<td>Subject Name</td>
					<td th:text="${score.subjectName}"></td>
				</tr>
				<tr>
					<td>Score 1</td>
					<td><input name="score1" type="text"
						th:value="${score.score1}" pattern="[0-9.]+" maxlength="4"
						required /></td>
				</tr>
				<tr>
					<td>Score 2</td>
					<td><input name="score2" type="text" class="color"
						th:value="${score.score2}" pattern="[0-9.]+" maxlength="4"
						required /></td>
				</tr>
				<tr>
					<td>Score 3</td>
					<td><input name="score3" type="text"
						th:value="${score.score3}" pattern="[0-9.]+" maxlength="4"
						required /></td>
				</tr>
				<tr>
					<td>Score 4</td>
					<td><input name="midScore" type="text" class="color"
						th:value="${score.midScore}" pattern="[0-9.]+" maxlength="4"
						required /></td>
				</tr>

			</table>
			<input class="btn  btn-outline-primary add" type="submit"
				value="Update Scoring" />
		</div>
	</form>

	<div th:replace="footer :: footer"></div>
</body>
</html>