<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.css">
<title>Edit Subject</title>
<link rel="shortcut icon" href="http://localhost:8082/favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/icofont/icofont.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	<!-- <img src="http://localhost:8082//e.jpg" alt="Logo" width="100%"
		height="525px"> -->
	<i class="icofont-book icon2"></i>
	<h1 class="title">Edit Subject</h1>
	<form method="POST" th:object="${subject}">
		<div class="bang">
			<table>
				<tr class="tabletitle" >
					<td>Information</td>
					<td>Update</td>
				</tr>
				<tr>
					<td>Subject Id</td>
					<td><input name="subjectId" type="text"
						th:value="${subject.subjectId}" required pattern="[A-Z0-9]{4}" /></td>
				</tr>
				<tr>
					<td>Subject Name</td>
					<td><input class="color" name="subjectName" type="text"
						th:value="${subject.subjectName}" required pattern="[\s\p{L}]+" maxlength="50" /></td>
				</tr>
				<tr>
					<td>Credit</td>
					<td><input name="credit" type="text"
						th:value="${subject.credit}" pattern="[0-9]{1}" required /></td>
				</tr>
				<tr>
					<td>Program Id</td>
					<td><select class="color" name="programId" >
							<option th:each="p: ${programId}" th:text="${p}"></option>
					</select></td>
				</tr>
				<tr>
					<td>Teacher Id</td>
					<td><select  name="teacherId" >
							<option th:each="t: ${teacherId}" th:text="${t}"></option>
					</select></td>
				</tr>
			</table>
			<input class="btn  btn-outline-primary add" type="submit"
				value="Update Falcuty" />
		</div>
		<div th:replace="footer :: footer"></div>
	</form>
</body>
</html>