<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<title>Education Program</title>
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="icofont/icofont.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	<img src="e.jpg" alt="Logo" width="100%" height="525px">
	<i class="icofont-book icon2"></i>
	<h1 class="title">Education Program</h1>
	<div class="bang">
		<table th:object="${edu}"  >
			<tr class="tabletitle">
			
				<td>Program Id</td>
				<td>Program Name</td>
				<td>Total Credit</td>
				<td>Falcuty Id</td>
				<td colspan="2">Edit</td>
			</tr>
			<tr th:each="e: ${edu} " >
				<td th:text=${e.programId}></td>
				<td th:text=${e.programName}></td>
				<td th:text=${e.totalCredit}></td>
				<td th:text=${e.falcutyId}></td>
				<td><a th:href="@{edu/delete/{id}(id=${e.programId})}"><button
							class="btn btn-outline-danger">Delete</button></a></td>
				<td><a th:href="@{edu/edit/{id}(id=${e.programId})}"><button
							class="btn btn-outline-success">Modify</button></a></td>
			</tr>
		</table>
	</div>
	<a th:href="@{edu/add}">
		<button class="btn  btn-outline-primary add">Add new Program Education</button>
	</a>
	<div th:replace="footer :: footer"></div>
</body>
</html>