<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="icofont/icofont.css">
<title>Falcuty</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	 <img src="e.jpg" alt="Logo" width="100%" height="525px">
	<i class="icofont-book icon2"></i>
	<h1 class="title">Falcuty</h1>
	<div class="bang">
		<table th:object="${falcuty}">
			<tr class="tabletitle">
				<td>Falcuty Id</td>
				<td>Falcuty Name</td>
				<td>Address</td>
				<td>Phone</td>
				<td colspan="2">Edit</td>
			</tr>
			<tr th:each="fa: ${falcuty}">
				<td th:text=${fa.FalcutyId}></td>
				<td th:text=${fa.FalcutyName}></td>
				<td th:text=${fa.Address}></td>
				<td th:text=${fa.Phone}></td>
				<td><a th:href="@{falcuty/delete/{id}(id=${fa.FalcutyId})}"><button
							class="btn btn-outline-danger">Delete</button></a></td>
				<td><a th:href="@{falcuty/edit/{id}(id=${fa.FalcutyId})}"><button
							class="btn btn-outline-success">Modify</button></a></td>
			</tr>
		</table>
	</div>
	<a th:href="@{falcuty/add}"><button
			class="btn  btn-outline-primary add">Add new Falcuty</button></a>
	<div th:replace="footer :: footer"></div>
</body>
</html>