<head>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
</head>
<div th:fragment="header">
	<div class="header">
		<a th:href=@{http://localhost:8082/}><img src="http://localhost:8082/a.png" alt="Logo"></a>
		<ul class="nav ">
			<li class="nav-item" ><a th:href=@{http://localhost:8082/falcuty}>Falcuty</a></li>
			<li class="nav-item"><a th:href=@{http://localhost:8082/edu}>Program</a></li>
			<li class="nav-item"><a th:href=@{http://localhost:8082/stu}>Student</a></li>
			<li class="nav-item"><a th:href=@{http://localhost:8082/teacher}>Teacher</a></li>
			<li class="nav-item"><a th:href=@{http://localhost:8082/subject}>Subject</a></li>
			<li class="nav-item"><a th:href=@{http://localhost:8082/scoring}>Scoring</a></li>
		</ul>
	</div>
</div>