<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="icofont/icofont.css">
<link rel="shortcut icon" href="favicon.ico" />
<title>Homepage</title>
</head>
<body>
	<div class="body">
		<div th:replace="header :: header"></div>
		<div class="main">
			<img src="e.jpg" alt="Logo" width="100%" height="525px">
			<i class="icofont-book icon2"></i>
			<h1 class="title">University Management</h1>
			<div class='multibox'>
				<div class="box">
					<a th:href=@{falcuty}>Falcuty
					<i class="icofont-university icon"></i></a>
					<h1 class="number" th:text="${falcuty}"></h1>
					
				</div>
				<div class="box">
					<a th:href=@{edu}>Education Program <i class="icofont-graduate icon"></i></a>
					<h1 class="number" th:text="${edu}"></h1>
					
				</div>
				<div class="box">
					<a th:href=@{stu}>Student <i class="icofont-student-alt icon"></i></a>
					<h1 class="number" th:text="${student}"></h1>
				</div>
				<div class="box">
					<a th:href=@{teacher}>Teacher <i class="icofont-teacher icon"></i></a>
					<h1 class="number" th:text="${teacher}"></h1>
				</div>
				<div class="box">
					<a th:href=@{subject}>Subject <i class="icofont-book icon"></i></a>
					<h1 class="number" th:text="${subject}"></h1>
				</div>
				<div class="box">
					<a th:href=@{scoring}>Scoring <i class="icofont-score-board icon"></i></a>
					<h1 class="number" th:text="${teacher}"></h1>
				</div>
			</div>
		</div>
		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>