<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.min.css">
<title>Information of Student</title>
<link rel="shortcut icon" href="http://localhost:8082/favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/icofont/icofont.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	 <!--  <img src="http://localhost:8082//e.jpg" alt="Logo" width="100%"
		height="525px"> -->
	
	<i class="icofont-book icon2"></i>
	<h1 class="title">Student</h1>
	<div class="bang">
		<table  th:object="${student}">
			<tr>
				<td>Student Id</td>
				<td th:text="${student.studentId}"></td>
			</tr>
			<tr>
				<td>Student Name</td>
				<td th:text="${student.studentName}"></td>
			</tr>
			<tr>
				<td>Started Year</td>
				<td th:text="${student.startedYear}"></td>
			</tr>
			<tr>
				<td>Address</td>
				<td th:text="${student.address}"></td>
			</tr>
			<tr>
				<td>Phone Number</td>
				<td th:text="${student.phoneNumber}"></td>
			</tr>
		</table>
	</div>
	<div class="bang">
	<table th:object="${score}" >
		<tr class="tabletitle">
			<td rowspan="2">Subject Id</td>
			<td rowspan="2">Subject Name</td>
			<td colspan="3" style="border=none">Daily Score</td>
			<td rowspan="2">Mid term Score</td>
			<td rowspan="2">Average Score</td>
			<td rowspan="2">Condition</td>
			<td rowspan="2">Edit</td>
		</tr>
		<tr class="tabletitle" style="border=none">
			<td>Score 1</td>
			<td>Score 2</td>
			<td>Score 3</td>
		</tr>
		<tr th:each="s: ${score}" th:object="${student}">
			<td th:text=${s.subjectId}></td>
			<td th:text=${s.subjectName}></td>
			<td th:text=${s.score1}></td>
			<td th:text=${s.score2}></td>
			<td th:text=${s.score3}></td>
			<td th:text=${s.midScore}></td>
			<td th:text=${s.averageScore}></td>
			<td th:text=${s.condition}></td>
			<td>
					<a th:href="@{/scoring/edit/}+${student.studentId}+@{/}+${s.subjectId}"><button class="btn btn-outline-success">Modify
				</button></a></td>
		</tr>
	</table>
	</div>
	<a th:href="@{/scoring/add/{id}(id=${student.studentId})}"><button class="btn  btn-outline-primary add">Add new Scoring
	</button></a>
	<div th:replace="footer :: footer"></div>
</body>
</html>