<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/style.css">
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/bootstrap/css/bootstrap.css">
<title>Select Student</title>
<link rel="shortcut icon" href="http://localhost:8082/favicon.ico" />
<link rel="stylesheet" type="text/css"
	href="http://localhost:8082/icofont/icofont.css">
</head>
<body>
	<div th:replace="header :: header"></div>
	   <img src="http://localhost:8082//e.jpg" alt="Logo" width="100%"
		height="525px"> 
	<i class="icofont-book icon2"></i>
	<h1 class="title">Select Student</h1>
	<form method="POST" th:object="${falcutyName}">
		<div class="bang">
			<table>
				<tr class="tabletitle">
					<td></td>
					<td>Scoring result of student </td>
				</tr>
				<tr>
					<td>Student Id</td>
					<td><input name="studentId" type="text" pattern="[0-9]{10}"  required/></td>
				</tr>
			</table>
			<p id="mess" th:text="${message}"></p>
			<input class="btn  btn-outline-primary add" type="submit" value="Result of student" />
		</div>
	</form>
	<div th:replace="footer :: footer"></div>
</body>
</html>