<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="icofont/icofont.css">
<title>Student</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<img src="e.jpg" alt="Logo" width="100%" height="525px">
	<i class="icofont-book icon2"></i>
	<h1 class="title">Student</h1>
	<div class="bang">
	<table th:object="${stu}">
		<tr class="tabletitle">
			<td>Student Id</td>
			<td>Student Name</td>
			<td>Started year</td>
			<td>Address</td>
			<td>Phone Number</td>
			<td  colspan="2">Edit</td>
		</tr>
		<tr th:each="s: ${stu}">
			<td th:text=${s.studentId}></td>
			<td th:text=${s.studentName}></td>
			<td th:text=${s.startedYear}></td>
			<td th:text=${s.address}></td>
			<td th:text=${s.phoneNumber}></td>
			<td>
					<a th:href="@{stu/delete/{id}(id=${s.studentId})}"><button class="btn btn-outline-danger">Delete</button></a>
				</td>
			<td>
					<a th:href="@{stu/edit/{id}(id=${s.studentId})}"><button class="btn btn-outline-success">Modify
				</button></a></td>
		</tr>
	</table>
		</div>
	
		<a th:href="@{stu/add}"><button class="btn  btn-outline-primary add">Add new Student
	</button></a>
	<div th:replace="footer :: footer"></div>
</body>
</html>