<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="icofont/icofont.css">
<title>Subject</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<img src="e.jpg" alt="Logo" width="100%" height="525px">
	<i class="icofont-book icon2"></i>
	<h1 class="title">Subject</h1>
	<div class="bang">
	<table th:object="${subject}">
		<tr class="tabletitle">
			<td>Subject Id</td>
			<td>Subject Name</td>
			<td>Credit</td>
			<td>Program Id</td>
			<td>Teacher Id</td>
			<td  colspan="2">Edit</td>
		</tr>
		<tr th:each="s: ${subject}">
			<td th:text=${s.subjectId}></td>
			<td th:text=${s.subjectName}></td>
			<td th:text=${s.credit}></td>
			<td th:text=${s.programId}></td>
			<td th:text=${s.teacherId}></td>
			<td>
					<a th:href="@{/subject/delete/}+${s.subjectId}+@{/}+${s.programId}"><button class="btn btn-outline-danger">Delete</button></a>
				</td>
			<td>
					<a th:href="@{/subject/edit/}+${s.subjectId}+@{/}+${s.programId}"><button class="btn btn-outline-success">Modify
				</button></a></td>
		</tr>
	</table>
		</div>
	
		<a th:href="@{subject/add}"><button class="btn  btn-outline-primary add">Add new Subject
	</button></a>
	<div th:replace="footer :: footer"></div>
</body>
</html>