<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" type="text/css"
	href="bootstrap/css/bootstrap.css">
<link rel="shortcut icon" href="favicon.ico" />
<link rel="stylesheet" type="text/css" href="icofont/icofont.css">
<title>Teacher</title>
</head>
<body>
	<div th:replace="header :: header"></div>
	<img src="e.jpg" alt="Logo" width="100%" height="525px">
	<i class="icofont-book icon2"></i>
	<h1 class="title">Teacher</h1>
	<div class="bang">
		<table th:object="${teacher}">
			<tr class="tabletitle">
				<td>Teacher ID</td>
				<td>Teacher Name</td>
				<td>Seniority</td>
				<td colspan="2">Edit</td>
			</tr>
			<tr th:each="t: ${teacher}">
				<td th:text=${t.teacherId}></td>
				<td th:text=${t.teacherName}></td>
				<td th:text=${t.seniority}></td>
				<td><a th:href="@{teacher/delete/{id}(id=${t.teacherId})}"><button
							class="btn btn-outline-danger">Delete</button></a></td>
				<td><a th:href="@{teacher/edit/{id}(id=${t.teacherId})}"><button
							class="btn btn-outline-success">Modify</button></a></td>
			</tr>
		</table>
	</div>

	<a th:href="@{teacher/add}"><button
			class="btn  btn-outline-primary add">Add new Teacher</button></a>
	<div th:replace="footer :: footer"></div>
</body>
</html>