*{
	border:none;
	padding:0;
	margin:0;
}
.body{
	background-color: #F8F9FA;
}
.header{
	width:100%;
	height:75px;
	position: relative;
	background-color: #FFFFFF;
	/* float:left; */
}
.header img{
	display:inline-block;
	width: 55px;
	height: 50px;
	margin-top:12px;
	margin-left:78px;
	/* padding-top:15px;
	padding-left: 60px;
	margin-top:0px; */
	
}
.nav li a{
	text-decoration: none;
	color:black;
	font-weight:bold;
	font-variant: normal;
}
.nav li a:hover{
	color: #3F51B5;
}
.nav{
	position: absolute;
	top:23px;
	right:80px;
	display: flex;
	text-decoration: row;
	justify-content: space-between;
	list-style: none;
	width: 450px;
	flex-wrap: nowrap;
	size:20px;
	

}
.content{
	background-color: #F8F9FA;
}
.footer{
	background-color: #002147;
	width: 100%;
	height:200px;
}
.footer img{
 	display: block; 
	padding-top: 40px;
	margin-left: auto;
	margin-right: auto;
	width:60px;
	height:100px;
}
.nav_end{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	margin-top: 30px;
	color: white;
	list-style: none;
}

.nav_end li a{
	text-transform: uppercase;	
	color:white;
	text-decoration: none;
}
.nav_end li a:hover{
	color:#50BBFC;
	
}
.multibox{
	margin-top:50px;
	display: flex;
	flex-direction: row;
	width: 775px;
	height:350px;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}
.box{
	background-color: #DEDEDE;
	width:250px ;
	height:150px ; 
	border-radius: 8px;
	margin-bottom:10px;
	position:relative;
}
.box a{
	display:block;
	padding-top:20px;
	padding-left:20px;
	text-decoration:none;
	color:black;
	size:20px;
	font-weight:bold;
}
 .box:hover a,h1{
	color: #3F51B5;
	text-decoration:none;

} 
.icon{
	font-size:50px;
	display:block;
	text-align:right;
	padding-top:30px;
	padding-right:20px;
}
.title{
	text-align:center;
}
.icon:hover{
	color: #3F51B5;
}
.icon2{
	 margin-top:50px;  
	font-size:70px;
	display:block;
	text-align:center;
}
.bang table{
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 100px;
	
}
.bang button{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}
.bang td,a{
	text-decoration: none;
}
.bang table tr{
	border: 1px solid #4D7BFF;
	text-align: center;
}
.bang table td{
	padding-top:10px;
	padding-bottom:10px;
}
.bang button a{
	text-decoration: none;
	color:black;
}
.tabletitle td{
	padding-top:10px;
	padding-bottom:10px;
	background-color:#002147;
	color:#E2FFF4;
}
tr:nth-child(2n+1){
	background-color:#EAF8E6;
}
.add{
	margin-left: 45%;
	margin-top:30px;
	margin-bottom:30px;
	
}
.bang input{
	text-align: center;
}
.color{
	background-color:#EAF8E6;
}
.number{
	position: absolute;
	top:70px;
	left:70px;
	color:black;
}
#mess{
	padding-top:10px;
	margin-bottom:0px;
	color:red;
	text-align:center;
}